

.contentChild,
.image53Icon {
  position: relative;
  flex-shrink: 0;
}
.image53Icon {
  align-self: stretch;
  height: 530px;
  max-width: 100%;
  overflow: hidden;
  object-fit: contain;
}
.contentChild {
  margin-left: -166px;
  width: 193px;
  height: 172px;
  filter: blur(250px);
  border-radius: 50%;
  background-color: var(--color-orangered);
}
.content {
  height: 1024px;
  width: 678px;
  background-color: var(--color-linen);
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-192xl) var(--padding-97xl) var(--padding-264xl)
    var(--padding-119xl);
  box-sizing: border-box;
  gap: var(--gap-124xl);
  min-width: 678px;
  max-width: 100%;
}
.createAccount1 {
  margin: 0;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
}
.createAccount1,
.dontYouHave {
  position: relative;
}
.noAccountInfo {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 33px 0 34px;
  text-align: center;
  font-size: var(--font-size-xl);
  color: #343434;
}
.accountInfo,
.createAccount {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.createAccount {
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-xl);
}
.accountInfo {
  align-self: stretch;
  flex-direction: row;
  justify-content: flex-end;
  padding: 0 46px 0 47px;
  box-sizing: border-box;
}
.fullName {
  position: relative;
  font-size: var(--font-size-xl);
  font-family: var(--font-inter);
  color: var(--text-subtitle);
  text-align: left;
  display: inline-block;
  min-width: 94px;
}
.fieldLabels {
  align-self: stretch;
  border-radius: var(--br-mini);
  background-color: var(--color-whitesmoke-100);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xl);
}
.email {
  position: relative;
  font-size: var(--font-size-xl);
  font-family: var(--font-inter);
  color: var(--text-subtitle);
  text-align: left;
  display: inline-block;
  min-width: 51px;
}
.fieldLabels1 {
  align-self: stretch;
  border-radius: var(--br-mini);
  background-color: var(--color-whitesmoke-100);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xl) 26px;
}
.password {
  position: relative;
  font-size: var(--font-size-xl);
  font-family: var(--font-inter);
  color: var(--text-subtitle);
  text-align: left;
  display: inline-block;
  min-width: 93px;
}
.fieldLabels2,
.inputFields {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.fieldLabels2 {
  border-radius: var(--br-mini);
  background-color: var(--color-whitesmoke-100);
  flex-direction: row;
  padding: var(--padding-5xl);
}
.inputFields {
  flex-direction: column;
  gap: var(--gap-5xl);
}
.signUpButtonContainer {
  height: 51px;
  flex: 1;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}
.signUpButtonContainerWrapper {
  width: 140px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 17px;
  box-sizing: border-box;
}
.accountInfoParent,
.inputFieldsParent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
}
.inputFieldsParent {
  margin: 0;
  gap: var(--gap-21xl);
}
.accountInfoParent {
  gap: 72px;
  max-width: 100%;
}
.signup,
.signupInner {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.signupInner {
  width: 506px;
  flex-direction: column;
  padding: 177px 0 0;
  box-sizing: border-box;
  min-width: 506px;
  max-width: 100%;
}
.signup {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  overflow: hidden;
  flex-direction: row;
  gap: var(--gap-90xl);
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  font-size: var(--font-size-37xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
@media screen and (max-width: 1225px) {
  .content,
  .signupInner {
    flex: 1;
  }
  .signup {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 1050px) {
  .content {
    padding-top: var(--padding-118xl);
    padding-bottom: var(--padding-165xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 750px) {
  .content {
    gap: var(--gap-52xl);
    padding: var(--padding-70xl) var(--padding-39xl) var(--padding-101xl)
      var(--padding-50xl);
    box-sizing: border-box;
    min-width: 100%;
  }
  .createAccount1 {
    font-size: var(--font-size-26xl);
  }
  .accountInfo {
    padding-left: var(--padding-4xl);
    padding-right: var(--padding-4xl);
    box-sizing: border-box;
  }
  .inputFieldsParent {
    gap: var(--gap-xl);
  }
  .accountInfoParent {
    gap: var(--gap-17xl);
  }
  .signupInner {
    padding-top: 115px;
    box-sizing: border-box;
    min-width: 100%;
  }
  .signup {
    gap: var(--gap-35xl);
  }
}
@media screen and (max-width: 450px) {
  .content {
    gap: var(--gap-17xl);
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .createAccount1 {
    font-size: var(--font-size-15xl);
  }
  .dontYouHave,
  .email,
  .fullName,
  .password {
    font-size: var(--font-size-base);
  }
  .accountInfoParent {
    gap: 18px;
  }
  .signup {
    gap: var(--gap-8xl);
  }
}
